@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
}

header {
    width: 250px;
    height:300px;
    box-shadow: 2px 2px 18px rgba(10, 10, 10, 0.932);
    margin: auto;
    margin-top: 7em;
    margin-bottom: 7em;
    border: 1px solid black;
    background-color: gray;
}

.outer-box {
    background-color: yellow;
    width: 60%;
    height: 50%;
    margin:auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: 5px solid white;
}

.text {
    font-weight: 700;
    font-size: 300%;
    height: fit-content;
    width:fit-content;
    position: relative;
    top: 62%;
    left:50%;
    
}